/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 
 Modified by Ricky Reeves for Nutella / Brandmover Inc
 */

/**
 * @license
 * MyFonts Webfont Build ID 2940676, 2014-12-16T15:39:56-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvantGardeGothicITCW01Bd by ITC
 * URL: http://www.myfonts.com/fonts/itc/avant-garde-gothic/std-bold/
 * 
 * Webfont: AvantGardeGothicITCW01Bk by ITC
 * URL: http://www.myfonts.com/fonts/itc/avant-garde-gothic/std-book/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2940676
 * Licensed pageviews: 1,000,000
 * Webfonts copyright: Font software Copyright 1993, 1994, 2001 Adobe Systems Incorporated. Typeface designs Copyright 2005 International Typeface Corporation. All rights reserved.
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2cdf04");
@font-face {font-family: 'AvantGardeGothicITCW01Bd';src: url('../fonts/2CDF04_0_0.eot');src: url('../fonts/2CDF04_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2CDF04_0_0.woff2') format('woff2'),url('../fonts/2CDF04_0_0.woff') format('woff'),url('../fonts/2CDF04_0_0.ttf') format('truetype'),url('../fonts/2CDF04_0_0.svg#wf') format('svg');}
@font-face {font-family: 'AvantGardeGothicITCW01Bk';src: url('../fonts/2CDF04_1_0.eot');src: url('../fonts/2CDF04_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2CDF04_1_0.woff2') format('woff2'),url('../fonts/2CDF04_1_0.woff') format('woff'),url('../fonts/2CDF04_1_0.ttf') format('truetype'),url('../fonts/2CDF04_1_0.svg#wf') format('svg');}

@import url("//hello.myfonts.net/count/2ed1a6");
@font-face {font-family: 'AvantGardeGothicITCW02Dm';src: url('../fonts/2ED1A6_0_0.eot');src: url('../fonts/2ED1A6_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2ED1A6_0_0.woff2') format('woff2'),url('../fonts/2ED1A6_0_0.woff') format('woff'),url('../fonts/2ED1A6_0_0.ttf') format('truetype');}

@-ms-viewport{
  width: device-width;
}

body {
    overflow-x: hidden;
    font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #ff0000;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #ff0000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sue Ellen Francisco', cursive, Helvetica,Arial,sans-serif;
	color:#000;
}
.container{
	min-width: 640px;
}
.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}
.btn {
	background-color: red;
    border-radius: 12px;
    color: #fff;
	padding:10px 25px;
}
header .btn {
	text-transform:lowercase;
	font-weight:bold;
	font-size:16px;
}
.navbar-default {
    border-color: transparent;
    background-color: #fff;
	height:128px;
	border-bottom:solid 10px red;
	min-width: 640px;
}
.navbar-default .navbar-brand {
    display:block;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fff;
}
.navbar-default .navbar-collapse {
	/* border-color: rgba(255,255,255,.02);*/
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    background-color: #fff;
	margin: 36px 18px 29px;
}
.navbar-toggle .icon-bar.bar1{
	background:url(../img/menu-top.png) 0 top no-repeat;
	width:48px;
	height:7px;
	margin-bottom:6px;
}
.navbar-toggle .icon-bar.bar2{
	background:url(../img/menu-mid.png) 2px top no-repeat;
	width:48px;
	height:7px;
	margin-bottom:6px;
}
.navbar-toggle .icon-bar.bar3{
	background:url(../img/menu-bot.png) 0 top no-repeat;
	width:50px;
	height:7px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .nav li a {
    text-transform:lowercase;
    font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;
    font-weight: normal;
	font-style: normal;
    letter-spacing: 1px;
	padding-top:23px;
	padding-bottom:23px;
	line-height: 21px;
    color: #ff0000;
}
.navbar-default .nav li a:hover{
	color:#000;	
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color:transparent;
	color:#F00;
}
.mgt70 {
	margin-top:70px;	
}
/*.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}*/

@media(min-width:768px) {
    .navbar-default {
        padding:0;
        border:0;
        background-color: #fff;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
		height:72px;
		border-bottom:solid 5px #ff0000;
    }
    .navbar-default .navbar-brand {
        font-size: 1.2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
		line-height:34px;
		white-space:nowrap;
		font-family: "AvantGardeGothicITCW01Bd",Helvetica,Arial,sans-serif;
		color:#000;
		height:auto;
    }
	.logo{
		float:left;
		display:block;
		margin-right:22px;
	}
    /*.navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }*/
	.dropdown-toggle .caret{
		border:0;
		background:url(../img/caret.png) no-repeat center center transparent;
		width:19px;
		height:15px;
	}
	.navbar-nav > li > .dropdown-menu {
		background-color:#ff0000;
		color:#fff;
		border:0;
		box-shadow:0;
		padding-bottom:0;
	}
	.navbar-default .nav .dropdown-menu > li > a{
		color:#FFF;
		padding-top: 14px;
		padding-bottom: 15px;
	}
	.navbar-default .nav .dropdown-menu > li > a:hover, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{
		color:#fff;
		background-color:#000;
	}
	.navbar-nav > li > .dropdown-menu li {
		border-bottom:solid 2px #FFF;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
		background-color:transparent;
		color:#ff0000;
	}
	.navbar-default .nav li a:hover {
		outline: 0;
		color: #000000;
	}
	.navbar-default .nav li a.page-scroll.btn{
		color:#fff;
		background-color:red;
		margin-top: 14px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 12px;
	}
    /*.navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }*/
}

header {
    text-align: center;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	max-height:780px;
	position:relative;
}
header .intro-text {
    padding-top: 100px;
    /*padding-bottom: 50px;*/
	min-height: 655px;
}
header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}
header .intro-text .intro-heading {
    margin-bottom: 20px;
    font-size: 27px;
	color:#ff0000;
}
header p{
	font-size: 13px;
	width:70%;
	margin:12px auto;
	line-height:1.5;
}
header p b, .howtoenter-item p b{
	font-family: "AvantGardeGothicITCW01Bd",Helvetica,Arial,sans-serif;
	font-weight:normal;
	font-style:normal;
}
.notice {
	bottom: -148px;
    position: absolute;
    right: 18px;
	z-index: 200;	
}

/*Second box*/
#looking {
	background-color:#e7e8e8;
}
#looking .section-heading,#entries .section-subheading{
	color:#ff0000;
	font-size: 28px;
    text-transform: uppercase;
}
#looking p{
	font-size:12px;
}
#looking .section-subheading {
	font-size:64px;
}
.arrow {
	position:absolute;
	bottom:-44px;
	text-align:center;
	width:100%;
	z-index:100;
}
.arrow_left{
	margin-left: auto;
    margin-right: auto;
    max-width: 674px;
	background:url(../img/arrow_left.png) no-repeat left bottom;
	padding-left:60px;	
}
.arrow_right{
	background:url(../img/arrow_right.png) no-repeat right bottom;
	padding-right:60px;		
}

/*Third box*/
#howtoenter {
	padding-top: 70px;
	background:url(../img/enter_before.png) no-repeat top left;
}
#howtoenter .section-heading{
	font-size:48px;
	color:#ff0000;
}
#howtoenter .section-subheading{
	font-size:50px;
	margin-bottom: 28px;
}
#howtoenter p, #examples p{
	width:70%;
	font-size:14px;
	margin: 0 auto 25px;
	text-align: center;
}
.howtoenter-item.col-lg-2{
	width:20%;
}
.howtoenter-item p{
	text-align:center;
	font-size:12px !important;
	width:100% !important;
	margin-top:7px !important;
}
.subsection-heading {
	font-size:34px;
	color:#ff0000;
	display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
	text-align:center;
	line-height: 52px;
}
.subsection-heading.important{
	max-width:none;
	text-align:left;
	padding-left:26px;
	margin-bottom:4px;
}
.lookforblock {
	width:100%;
	max-width:360px;	
	text-align:center;
	margin:32px auto;
}
.lookfor {
	font-size:14px;
	display:inline-block;
	background-color:#eef3f3;
	text-align:center;
	padding:8px 20px;
	margin: 6px 5px;
	font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
	border-radius: 6px;
}
#howtoenter p.subsection {
	width:100%;
	padding-left:26px;
	line-height:17px;
	text-align:left;
}
#howtoenter ul {
	margin-bottom:30px;
}
.subsection em {
	color:#F00;
}
#howtoenter .btn {
	margin-left:26px;
	display:inline-block;
	font-size:16px;
}
.btn span {
	text-decoration:underline;	
}

/*Fourth box*/
#examples h2{
	text-align:center;
	font-size:35px;
	text-transform:lowercase;
	margin-bottom:32px;
	letter-spacing: 1px;
}
#examples p{
	margin-bottom: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        margin-top:100px;
		padding-top:54px;
       /* padding-bottom:300px;*/
		width:56%;
		padding-left:40px;
    }
    header .intro-text .intro-lead-in {
        margin-bottom: 14px;
        font-size:50px;;
        font-style: italic;
        line-height: 50px;
    }
	header .intro-text .intro-logo{
		overflow: hidden;
		text-indent: -999px;
		width: 100%;
		background:url(../img/logo2.png) no-repeat center center;
		height:60px;
		min-width:416px;
		margin-top:0;
	}
	.navbar-default .navbar-nav > li.dropdown > a{
		padding-left:0 !important;	
	}
}

section {
    padding: 100px 0;
	position:relative;
}

@media(min-width:768px) {
    section {
        padding: 24px 0;
    }
	section#examples{
		padding-top:0;
	}
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#examples .portfolio-item {
    right: 0;
    margin: 0 0 15px;
	text-align:center;
}

#examples .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#examples .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#examples .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#examples .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#examples .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#examples .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#examples .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#examples .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#examples .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: uppercase;
	font-size:25px;
}

#examples .portfolio-item .portfolio-caption p {
    margin: 0;
    /*font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size: 16px;
    font-style: italic;
}

#examples * {
    z-index: 2;
}

@media(min-width:767px) {
    #examples .portfolio-item {
        margin: 0 0 30px;
    }
}

#enter{
	background:url(../img/enter-arrows.png) no-repeat center 76px #F00;
	padding-bottom:48px;
}
#enter.down{
	background:url(../img/enter-arrows-open.png) no-repeat center 76px #F00;
	background-position:center center;
}
#enter h2{
	font-size:65px;
	color:#FFF;
	margin-top:10px;
	margin-bottom:20px;
}
#enter p{
	color:#FFF;
	margin-bottom: 28px;
}
.enter-arrows {
	display: block;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
	margin-bottom:32px;
}
#enter .btn span{
	text-decoration:none;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
	background-color:#FFF;
}
#enter .bootstrap-select > .dropdown-toggle {
	border:0;
	background: url("../img/bg-select-dob.png") no-repeat scroll left center;
	background-size:cover;
	height:65px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width:auto;	
}
#enter .bootstrap-select > .dropdown-toggle[data-id="dob_mm"] {
	width:109px;
}
#enter .bootstrap-select > .dropdown-toggle[data-id="dob_dd"] {
	border:0;
	background: url("../img/bg-select-dob-dd.png") no-repeat scroll left center;
	background-size:cover;
	height:65px;
	width:113px;
}
#enter .bootstrap-select > .dropdown-toggle[data-id="dob_yyyy"] {
	border:0;
	background: url("../img/bg-select-dob-yyyy.png") no-repeat scroll left center;
	background-size:cover;
	height:65px;
	width:135px;
	
}
#enter .bootstrap-select > .dropdown-toggle .caret {
	background: transparent url("../img/caret-select.png") no-repeat scroll center center;
	width:17px;
	height:11px;
}
.submitbtn, .submitbtn:focus, .submitbtn:hover, .morebtn, .morebtn:focus, .morebtn:focus {
	background-color:#000;
	color:#FFF;
	font-size:18px;
	text-transform:lowercase;
}

#enterform {
	display:none;
	padding-bottom:48px;
}
#enterform .point1, #enterform .point2, #enterform .point3{
	color:#F00;
	font-size:42px;
	padding-left: 70px;
	background:url(../img/point1.png) no-repeat left 12px;
	max-width:460px;
	margin:20px auto;
	text-align:left;
	line-height:1.7;
}
#enterform .point2{
	background:url(../img/point2.png) no-repeat left 12px;
	max-width:300px;
	margin-top:54px;
}
#enterform .point3{
	background:url(../img/point3.png) no-repeat left 12px;
	max-width:380px;
	margin-top:20px;
}
#enterform .checkboxrow {
	text-align:center;
}
.nowrap{
	white-space:nowrap;
}
#enterform p{
	font-size: 16px;
    margin: 0 auto 30px;
    max-width: 736px;
}
.checkboxes {
	text-align:center;
	margin:0 20px 20px;
	display:inline-block;
}
.checkboxes img{
	display:inline-block;
}
.iradio_square{
	background: url("../img/icheck.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 33px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 33px;
	text-align:center;
}
.iradio_square.checked{
	background: url("../img/icheck-checked.png") no-repeat scroll 0 0;
}
#enterform p.uploadintro{
	max-width: 516px;
	text-align:center;
	line-height:1.4;
}
#enterform p.uploadtxt{
	color:#F00;
	font-size:11px;
	text-align:center;
	margin-bottom: 15px;
}
#enterform p.uploadtxt a {
	color:#F00;
}
.uploader, #dropzone {
	width:492px;
	height:292px;
	background: url("../img/bg-uploader.png") no-repeat scroll center center #e6e5e5;
	margin:0 auto;
	text-align:center;
	line-height:292px;
	color:#F00;
	font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
	cursor:pointer;
	position:relative;
}
#enterform p.browse {
	text-align:center;
	color:#000;
	text-transform:lowercase;
	margin-top:10px;
}
.form-group {
	max-width:474px;
	margin:0 auto;
}
#enterform .form-group .col-lg-8, #enterform .form-group .col-lg-4{
	padding:0;
}
#enterform .form-group .col-lg-8{
	width: 63.6667%;
	padding-right:10px;
}
#enterform .form-group .col-lg-4{
	width: 36.3333%;
}
.form-control {
	background: url("../img/bg-field.png") no-repeat scroll left center;
	width:100%;
	height:67px;
	border:0;
	color:#000;
	outline: none;
	font-size:16px;
	padding:0 26px;
	background-size:cover;
	font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
}
.mediumfld.form-control {
	background: url("../img/bg-field-med.png") no-repeat scroll left center;
}
#enterform .form-control::-moz-placeholder{
	color:#000;
}
#enterform .form-control{
	box-shadow:none;
	border-radius:0;
}
#enterform .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width:100%;
}
#enterform .bootstrap-select > .dropdown-toggle {
	border:0;
	background: url("../img/bg-select.png") no-repeat scroll left center;
	background-size:cover;
	height:65px;
}
#enterform .btn.btn-xl {
	font-size:22px;
	min-width:166px;
}
#enterform a{
	color:#000;
	text-decoration:underline;
}
#enterform .btn span{
	text-decoration:none;
}
#enterform .filter-option{
	font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
}
#enterform .bootstrap-select.btn-group .dropdown-toggle .caret {

}
#enterform .dropdown-toggle .caret {
	background: transparent url("../img/caret2.png") no-repeat scroll center center;
}
#enterform p.checkboxes {
	position:relative;
	padding-left: 30px;
	text-align:left;
	font-size:12px;
}
#enterform p.checkboxes input{
	position:absolute;
	top:1px;
	left:0;
}

#entries {
	background-color:#eff2f5;
	padding-top:34px;
}
#entries .section-heading{
    font-size:60px;
	margin-bottom:0;
	line-height: 1.1;
}
#entries .section-subheading{
    text-transform: lowercase;
	margin-top:0;
}
.filterbox {
	background-color:#FFF;
	font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
	border-radius:4px;
	padding:8px 11px;
	display:inline-block;
	margin:20px 7px 0;
	white-space:nowrap;
	cursor: pointer;
}
.filterbox.off{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;

	-moz-filter:grayscale(1);
	-webkit-filter:grayscale(1);
	filter: url("data:image/svg+xml;utf8,#grayscale"); /* Firefox 3.5+ */
	filter:grayscale(1);
}
.rmfilter {
	width:9px;
	height:9px;
	display:inline-block;
	margin-left:12px;
	background:url(../img/icons/ico-filter-rm.png) no-repeat center right;
}
.gallery{
	margin-top:28px;
}
.video {
	margin-bottom:15px;	
}

.morebtn.btn, .morebtn.btn:focus, .morebtn.btn:hover {
	margin-top:25px;
	font-size:16px;
	margin-bottom: 34px;
	color:white;
	text-decoration:none;
}

@media (min-width: 768px) {
	.col-xs-5ths,
	.col-sm-5ths,
	.col-md-5ths,
	.col-lg-5ths {
		position: relative;
		min-height: 1px;
		padding-right: 10px;
		padding-left: 10px;
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

#prizes{
	background:url(../img/prize-corner.png) no-repeat top left #f70101;
	padding-bottom:0;
}
#prizes .left_img {
	margin-top:245px;
}
#prizes .right_img {
	margin-top:54px;
}
#prizes .section-heading{
	font-size:21px;
	text-transform:uppercase;
	margin-top:18px;
	letter-spacing: 2px;
}
#prizes .section-subheading{
	font-size:38px;
	color:#FFF;
}
#prizes .section-thirdheading{
	font-size:48px;
	color:#FFF;
	text-transform:uppercase;
}
#prizes .section-fourthheading{
	font-size:36px;
	margin-bottom:40px;
}
.white, #prizes p.white{
	color:#FFF;
	margin-bottom:0;
}
#prizes p{
	font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
	color:#000;
}
#prizes li{
	/*font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;*/
	padding-bottom:10px;
	color:#000;
	list-style-type:none;
	margin: 0 auto;
    max-width: 520px;
}
.bg-city {
	background:url(../img/prize-right.jpg) no-repeat bottom left transparent;
	background-size: 100% auto;
	padding-bottom:84px;
}
h4.runnerup{
	font-size:21px;
	margin-top:46px;
}

#timeline h2{
	font-size:60px;
	margin-top:25px;
}
.timeline-arrow h4{
	font-size:21px;
	text-decoration:underline;
	text-transform:uppercase;
	display:inline-block;
	width:auto;
}
.timeline-arrow .timeline-arrow-left h4, .timeline-arrow .timeline-arrow-right h4{
	text-decoration:none;
}
.timeline-arrow-left{
	background:url(../img/timeline-arrow-left.png) no-repeat center right transparent;
	/*background:none;*/
}
.timeline-arrow-right{
	background:url(../img/timeline-arrow-right.png) no-repeat center right transparent;
	/*background:none;*/
}
#timeline h3{
	font-size:27px;
	color:#F00;
	line-height:1.4;
	text-transform:uppercase;
}
#timeline p{
	/*font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;*/
}
#timeline p.section-intro{
	font-size:16px;
	font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;
	margin-bottom:40px;
}
#timeline .process p, #timeline .process h3{
	max-width:382px;
	margin-left:auto;
	margin-right:auto;
}
.spark-left{
	display:inline-block;
	background:url(../img/spark-left.png) no-repeat center left transparent;
	padding:0 0 0 24px;
	margin: 64px 0 48px;
}
#timeline h2.spark-right{
	background:url(../img/spark-right.png) no-repeat center right transparent;
	padding:0 24px 0 0;
	text-transform:uppercase;
	font-size:30px;
	margin:0;
	letter-spacing:5px;
}

#about {
	background-color:#eff2f5;
	padding:44px 0 92px;
}
#about h2{
	font-size:47px;
	text-transform:lowercase;
}
.world {
	margin-top:44px;
}
#about .section-subheading{
	color:#F00;
	font-size:27px;
	text-transform:uppercase;
	margin-top:30px;
	margin-bottom:15px;
}
#about p {
	font-size:12px;
	margin-bottom:24px;
	font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
}

#faq{
	margin-bottom:110px;
}
#faq h2 {
	font-size:64px;
	margin-top:42px;
	margin-bottom:55px;
}
#faq ul{
	list-style-type:none;
	padding:0;
}
#faq ul li p,#faq ul li h4{
	font-size:12px;
	font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
}
#faq ul li p {
	margin-bottom:30px;
}
#faq ul li h4{
	color:#F00;
	margin-bottom:3px;
	line-height: 1.5;
}
#faq ul a {
	font-size:39px;
	font-family: 'Sue Ellen Francisco', cursive, Helvetica,Arial,sans-serif;
	color:#000;
	display:block;
	line-height:1.7;
	margin-bottom:6px;
}
#faq ul li p a{
	text-decoration:underline;
	font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
	font-size:12px;
	display:inline;
}

@media(min-width:768px) {
	header .intro-text {
		padding-left: 30px;
	}
	.mobileOnly {
		display:none !important;
	}
	.desktopOnly {
		display:block !important;
	}
	.desktopOnly.inlineblock {
		display:inline-block !important;
	}
}

@media(min-width:992px) {
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
	.navbar-default .navbar-toggle {
		
	}
	header .intro-text {
		padding-left:230px;
	}
}
@media(max-width:1051px) {
	.navbar-default .nav li a {
		font-size:11px;
		padding-left:10px;
		padding-right:10px;
	}
	.navbar-default .navbar-brand{
		font-size:1em;
	}
	.nutelladate {
		display:none;
	}
}
@media(max-width:1200px) {
	header{
		background-position: center center;	
	}
}
@media(min-width:1600px) {
	.container {
		width:1366px;
	}
}
@media(min-width:1366px) {
	.container {
		width:1366px;
	}
}

@media(max-width:1367px) {
	.container {
		width:98%;
	}
	.nutelladate {
		display:none;
	}
}
@media (min-width:1038px){
	.notice {
		/*display:none;*/
		visibility:visible;
		opacity:1;
		transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}
}
@media (min-width:1054px) and (max-width:1137px) {
	.navbar-default .nav li a {
		font-size:12px;
	}
	.navbar-default .navbar-brand{
		font-size:1em;	
	}
	header .intro-text {
		padding-left:170px;
	}
	.notice {
		/*display:none;*/
		visibility:hidden;
		opacity:0;
		transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}
}
@media (min-width:992px) and (max-width:1053px) {
	.navbar-default .nav li a {
		font-size:11.5px;
	}
	.navbar-default .navbar-brand{
		font-size:1em;	
	}
	header .intro-text {
		padding-left:160px;
		padding-top:10px;
	}
	.notice {
		/*display:none;*/
		visibility:hidden;
		opacity:0;
	}
}
@media(min-width:768px) and (max-width:991px) {
	header .intro-text {
		padding-left:40px;
	}
	.howtoenter-item .col-md-3{
		width:20%;
	}
	.navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
	.tablet-center{
		margin-left:auto;
		margin-right:auto;
		float:none;
		clear:both;
	}
}
@media(max-width:991px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin:0;
	}
	.navbar-default {
		height:128px;
	}
	.navbar-header .mobileOnly{
		display:inline-block !important;
		padding-top:36px;
	}
	.navbar-header .desktopOnly{
		display:none !important;
	}
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
		clear: both;
    }
	.navbar-collapse.in {
		overflow-y: auto !important;	
	}
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
	.navbar-default {
		border-bottom: 10px solid #ed1f24;
	}
	.navbar-default .navbar-nav > li.dropdown > a{
		padding-left:0 !important;	
	}
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	
	/** Taken from mobile size **/
	.navbar-brand.mobileOnly{
		padding-top:36px;
	}
	.navbar-default .navbar-collapse, .navbar-nav > li > .dropdown-menu {
		margin:0;
		background-color:#F00;
		color:#FFF;
		text-align:center;
		border:0;
	}
	.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
		margin:0;
	}
	.navbar-nav, .navbar, #bs-example-navbar-collapse-1 {
		margin:0;
		padding:0;
	}
	.navbar .container{
		margin:0;
		padding:0;
		width:100%;
	}
	.navbar-default .nav li {
		border-bottom:2px solid #FFF;
	}
	.navbar-default .nav li a{
		color:#FFF;
		font-size:28px;
		padding-top:64px !important;
		padding-bottom:64px !important;
	}
	.navbar-default .nav li a:hover{
		color:#FFF;
		background-color:#000;
		border-radius:0;
	}
	.navbar-nav > li > .dropdown-menu {
		display:block;
		width:100%;
		position: relative;
		padding:0;
	}
	.navbar-default .nav li a.dropdown-toggle {
		display:none;
	}
	.navbar-nav > li.dropdown{
		border:0;
	}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
		/*max-height:none;*/
	}
	.nav .btn {
		background-color: #ff0000;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .nav .btn:hover, .navbar-default .nav .dropdown-menu li a:hover, .navbar-default .nav .dropdown-menu li.active a {
		color:#fff;
		background-color: #000;
	}
	.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{
		color:#fff;
		background-color: #000;
	}
	.notice {
		display:none;
	}
}
@media(max-width:767px) {
	.btn {
		background-color:#f61f28;	
	}
	header{
		max-height:none;
		min-height:1080px;
		background-image: url(../img/header-bg-mobile.jpg);
		background-repeat:no-repeat;
		background-position: center bottom;
		background-size:auto;
	}
	header .intro-text {
		padding-top:128px;	
	}
	header .intro-text .intro-lead-in {
		font-size:60px;
		padding-top:24px;
		margin:0 auto;
		line-height:82px;
	}
	header .intro-text .intro-logo{
		overflow: hidden;
		text-indent: -999px;
		width: 100%;
		background:url(../img/logo2_mobile.png) no-repeat center center;
		height:74px;
		min-width:519px;
		margin-top:0;
	}
	header .intro-text .intro-heading {
		font-size:39px;
		margin-top:40px;
	}
	header p {
		font-size:24px;
		width:100%;
	}
	header p b {
		font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;	
	}
	.embed-responsive-custom, .embed-responsive-custom img, .embed-responsive-custom object, .embed-responsive-custom iframe, .embed-responsive-custom video {
		width:100%;
		max-width:460px;
		margin:31px auto 52px; 	
	}
	.mobileOnly {
		display:block !important;
	}
	.mobileOnly.inlineblock {
		display:inline-block !important;
	}
	.desktopOnly {
		display:none !important;
	}
	.intro-text .btn {
		font-size:36px;
		text-transform: lowercase;
		padding: 16px 35px;
	}
	.howtoenter-item .col-sm-2{
		width:20%;
	}

	#looking {
		background-color: #f2f3f3;
		padding-top: 20px;
		padding-bottom: 0px;
	}
	#looking .section-heading{
		font-size: 36px;
    	margin: 20px auto 10px;
		max-width:486px;
		line-height: 58px;
		color:#ed1c24;
		letter-spacing: 3px;
	}
	.arrow_left {
		background: rgba(0, 0, 0, 0) url("../img/arrow_left_mobile.png") no-repeat scroll 22% bottom;
		padding-left:0;
		max-width:none;
	}
	.arrow_right {
		background: rgba(0, 0, 0, 0) url("../img/arrow_right_mobile.png") no-repeat scroll 78% bottom;
		padding-right:0;
	}
	#looking p {
		font-size:24px;	
		color: #000;
    	margin-bottom: 44px;
	}
	#looking .section-subheading {
		font-size: 52px;
		margin-bottom:42px;
	}
	.arrow{
		/*display:none;	*/
	}

	#howtoenter{
		background:none;
		padding-bottom:0;
		padding-top:60px;
	}
	#howtoenter .section-heading{
		font-size:44px;
		margin-bottom: 6px;
	}
	#howtoenter .section-subheading {
		font-size:52px;
		max-width:436px;
		margin: 0 auto 28px;
		line-height:80px;
	}
	#howtoenter ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		text-align:center;
		font-size:24px;
		color:#000;
	}
	.enterbefore {
		font-size:32px;
		display:block;
		color:#ff0000;
		max-width:354px;
		margin:16px auto 40px;
		padding:10px 0;
		text-transform:uppercase;
		background: rgba(0, 0, 0, 0) url("../img/sparks_mobile.png") no-repeat scroll left top;
	}
	#howtoenter p, #examples p {
		font-size:24px;
		width:100%;
		color:#000;
	}
	#howtoenter p.section-intro{
		max-width:670px;
	}
	#howtoenter 
	#howtoenter p br{
		display:none;
	}
	.carousel {
		padding-bottom: 72px;
		/*margin-bottom:340px;*/
		border-bottom: 2px solid #dddddd;
		border-top: 2px solid #dddddd;
	}
	.carousel-inner {
		height:690px;
	}
	.carousel-caption {
		bottom:auto;
		top:450px;
		left:30px;
		right:30px;
		text-shadow:none;
	}
	#howtoenter .carousel-caption {
		left:39px;
		right:39px;
	}
	.carousel-indicators {
		height:21px;
		bottom:42px;
		z-index:300;
		
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
		top: 30%;
	}
	.carousel-indicators li {
		width:21px;
		height:21px;
		border:solid 4px #bebebe;
	}
	.carousel-indicators .active {
		background-color: #bebebe;
		width:21px;
		height:21px;
		border:solid 4px #bebebe;
	}
	.carousel-inner > .item img{
    	margin: 0 auto;
	}
	.carousel-control.right, .carousel-control.left {
		background-image:none;	
	}
	.glyphicon-chevron-right::before, .glyphicon-chevron-left::before{
		content:none;
	}
	.carousel-control .glyphicon-chevron-left {
		background-image:url(../img/carousel_left.png);
		width:47px;
		height:74px;
	}
	.carousel-control .glyphicon-chevron-right {
		background-image:url(../img/carousel_right.png);
		width:47px;
		height:74px;
	}
	.subsection-heading{
		font-size:52px;
		max-width:500px;
		line-height:1.5;
	}
	.mobilenomargin {
		margin-left:-22px;
		margin-right:-22px;
	}
	.lookforblock {
		max-width:none;
	}
	.lookfor {
		font-size:26px;
		font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;
		padding: 20px 34px;
		color:#000;
	}
	.subsection-heading.important {
		text-align:center;
		margin-top: 70px;
		margin-bottom: 40px;
	}
	#howtoenter p.subsection {
		margin-top: 45px;
		margin-bottom: 35px;
		text-align:center;
		font-size:22px;	
		max-width: 540px;
		line-height:1;
	}
	#howtoenter p.subsection br{
		display:block;
		margin-bottom:12px;
	}
	#howtoenter a.btn {
		margin:	0 auto;
		display:block;
		font-size:25px;
		padding:26px;
		max-width:380px;
	}

	#examples{
		padding-bottom:50px;
	}
	#examples h2{
		font-size:52px;
	}
	#examples p{
		max-width:670px;
	}
	.mobred {
		color:#ed1f24;	
	}
	#examples .portfolio-item .portfolio-caption h4 {
		font-size:32px;
		text-transform:uppercase;	
	}

	#enter{
		padding-top:30px;
		background:url(../img/enter-arrows-mobile.png) no-repeat center 250px #f62428;
		background-size:94% auto;
	}
	#enter.down{
		background:url(../img/enter-arrows-open-mobile.png) no-repeat center 228px #f62428;
		/*background-size:center center;*/
	}
	#enter h2 {
		font-size:52px;
	}
	#enter p {
		font-size:24px;
	}
	#enter p span{
		
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width:140px;
		height:84px;
	}
	#enter .bootstrap-select > .dropdown-toggle {
		border:0;
		background: url("../img/bg-select-dob-mobile.png") no-repeat scroll left center;
		background-size:cover;
		height:84px;
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width:auto;	
	}
	#enter .bootstrap-select > .dropdown-toggle[data-id="dob_mm"] {
		width:139px;
	}
	#enter .bootstrap-select > .dropdown-toggle[data-id="dob_dd"] {
		background: url("../img/bg-select-dob-mobile-dd.png") no-repeat scroll left center;
		background-size:cover;
		height:84px;
		width:139px;
	}
	#enter .bootstrap-select > .dropdown-toggle[data-id="dob_yyyy"] {
		background: url("../img/bg-select-dob-mobile-yyyy.png") no-repeat scroll left center;
		background-size:cover;
		height:84px;
		width:174px;
	}
	.bootstrap-select.btn-group .dropdown-toggle .filter-option {
		font-size:21px;
		text-align: center;
	}
	.dropdown-toggle .caret {
		background:url(../img/caret-mobile.png) no-repeat center center transparent;
		width:20px;
		height:11px;
		border:0;
	}
	.submitbtn, .submitbtn:focus, .submitbtn:hover, .morebtn, .morebtn:focus, .morebtn:focus {
		background-color:#000;
		font-size:30px;
		text-transform:lowercase;
		padding: 14px 60px;
	}

	#enterform {
		padding-top:58px;
	}
	#enterform .point1, #enterform .point2, #enterform .point3 {
		background:none;
		padding-left:0;
		color:#ed1b2e;
		font-size:48px;
		text-align:center;
	}
	#enterform p {
		font-size:24px;
		color:#000;
	}
	.sm-50{
		display: inline-block;
   		width: 35%;
		margin-bottom:52px;
	}
	#enterform .point2 {
		margin-top:4px;
		font-size:52px;
	}
	.videoarea {
		margin-top:40px;
	}
	#enterform p.uploadintro {
		max-width:90%;
	}
	.mobile-center{
		margin-left:auto;
		margin-right:auto;
		float:none;
		clear:both;
	}
	#enterform p.uploadtxt{
		font-size:22px;
		line-height: 1.1;
    	max-width: 90%;
		padding-bottom: 30px;
	}
	#dropzone {
		display:none;	
	}
	.uploadbtn {
		text-transform:lowercase;
		margin:0 auto;
		font-size:34px;
		padding:12px 42px 18px 84px;
		background:url(../img/icons/ico-upload.png) no-repeat 30px center #ff0000;
		margin-bottom:90px;
	}
	#enterform .point3 {
		margin-bottom:	50px;
		font-size:52px;
	}
	.form-group {
		max-width:659px;
	}
	.form-control {
		text-align:center;
		background: url("../img/bg-field-mobile.png") no-repeat scroll left center;	
		height: 91px;
		font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
		font-size:22px;
	}
	#enterform .form-group .col-lg-8 {
		display:inline-block;
		vertical-align: top;
	}
	#enterform .form-group .col-lg-4 {
		display:inline-block;
		width: 35.3333%;
		vertical-align: top;
	}
	.mediumfld.form-control {
		background: rgba(0, 0, 0, 0) url("../img/bg-field-med-mobile.png") no-repeat scroll left center;
		max-width:403px;
	}
	#enterform .bootstrap-select > .dropdown-toggle{
		background: rgba(0, 0, 0, 0) url("../img/bg-select-mobile.png") no-repeat scroll left center / cover ;
		border: 0 none;
		height: 91px;
	}
	#enterform .dropdown-toggle .caret{
		background: transparent url("../img/caret2-mobile.png") no-repeat scroll center center;
		width:33px;
		height:22px;
	}
	#enterform .form-group .col-lg-8.mobile-center{
		display:block;	
	}
	#enterform .btn.btn-xl {
		font-size:38px;
		min-width:282px;
	}

	#entries {
		background-color:#f7f9fa;
		padding-bottom: 30px;
	}
	#entries .section-heading {
		font-size:52px;
		/*margin-bottom: 50px;*/
	}
	#entries .section-subheading{
		font-size:42px;
		margin-bottom:50px;
	}
	#entries .gallery .col-xs-6:nth-child(odd){
		clear:both;
	}
	#entries .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		height:52px;
		width:320px;
	}
	#entries .bootstrap-select > .dropdown-toggle {
		background-color: #fff;
		border-color: #fff;
	}
	#entries .bootstrap-select.btn-group .dropdown-toggle .filter-option{
		text-align:left;
		text-decoration:none;
		font-size:28px;
	}
	#entries .dropdown-toggle .caret {
		background:url(../img/caret-filter-mobile.png) no-repeat center center transparent;
		height: 21px;
		width: 27px;
	}
	.video img {
		max-width:none;
		width:100%;
	}
	.morebtn.btn, .morebtn.btn:focus, .morebtn.btn:hover {
		font-size: 30px;
		min-width:222px;
		padding: 14px 24px;
	}

	#prizes {
		background:none;
		background-color:#f62028;
		padding:36px 0 0;
	}
	.bg-city {
		background:url(../img/prize-right-mobile.jpg) no-repeat bottom left transparent;
		background-size: 100% auto;
		padding-bottom:110px;
	}
	#prizes .section-heading {
		font-size:30px;
		margin-bottom:36px;
	}
	#prizes .section-subheading {
		font-size:44px;
		margin-bottom:28px;
	}
	#prizes .section-thirdheading {
		font-size:42px;
	}
	#prizes .section-fourthheading {
		font-size:42px;
	}
	#prizes p, #prizes li, #prizes p.white {
		font-size:24px;
		margin-bottom:22px;
	}
	#prizes p.white.trip-copy {
		max-width:	520px;
		line-height:1.2;
	}
	#prizes ul {
		margin-bottom:0;
		padding-left: 0;
	}
	#prizes li {
		font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;
		max-width:600px;
		padding-bottom: 2px;
	}
	h4.runnerup {
		font-size:30px;
		margin-bottom:25px;
		margin-top:80px;
	}
	#prizes p.mobilesize{
		font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;
		margin-bottom:60px;
	}
	#prizes p.mobilesize span{
		font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
	}

	#timeline, #timeline .container, #timeline .container .row{
		padding:0;
		margin:0;
		width:100%;
	}
	#timeline h2 {
		padding:50px 15px 20px;
		font-size:52px;
		margin-top:0;
	}
	#timeline p.section-intro{
		font-size:24px;
		margin:0 auto 50px;
		font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;	
		max-width:420px;
		color:#000;
		line-height:1.4;
	}
	#timeline h3 {
		font-size:38px;
	}
	#timeline .slide3 h3 {
		font-size:38px;
		margin-left: auto;
		margin-right: auto;
		margin-top: -10px;
		max-width: 540px;
	}
	#timeline h3.month{
		padding:58px 15px 32px;
		font-size:31px;
		color:#000;
		text-decoration:underline;
		text-align:center;
		margin-top:0;
	}
	#timeline .carousel-caption {
		top:520px;
		position: inherit;
	}
	#timeline p {
		color: #000;
		font-size: 24px;
		margin: 0 auto;
		max-width: 606px;
		padding: 0 15px;
		line-height:1.4;
		font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;	
	}
	#timeline .slide2 p, #timeline .slide3 p {
		max-width: 748px;
	}
	#timeline .carousel-inner {
		height:750px;	
	}
	.spark-left {
		margin-top:82px;
		background:url(../img/spark-left-mobile.png) no-repeat center left transparent;
		padding-left: 50px;
		margin-bottom: 78px;
	}
	#timeline h2.spark-right {
		font-size:36px;
		max-width: 458px;
		background:url(../img/spark-right-mobile.png) no-repeat center right transparent;
		padding-top:12px;
		line-height:1.8;
		padding-right: 50px;
		padding-bottom:8px;
		letter-spacing: 5px;
	}
	

	#about{
		background-color:#f5f4f4;
		padding-bottom:44px;
	}
	#about .section-subheading {
		font-size:30px;	
	}
	#about p{
		font-size:24px;
		font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;
		line-height: 1.4;
		color:#000;
		max-width: 620px;
		margin-left:auto;
		margin-right:auto;
	}
	.world{
		margin-top: 18px;
		margin-bottom:65px;
	}

	#faq {
		padding:0;
		margin-bottom:0; /* Comment out if Footer is fixed bottom */
	}
	#faq h2 {
		border-bottom: 2px solid #b5b5b5;
		border-top: 2px solid #b5b5b5;
		font-size: 52px;
		line-height: 1.7;
		margin: 0;
		padding: 32px 15px 42px;
		text-transform: lowercase;
	}
	#faq .container, #faq .container .row, #faq .container .row .col-lg-12, #faq .container .row .col-sm-3{
		margin:0;
		padding:0;
		width:100%;
	}
	.plus, .minus {
		font-family: 'Sue Ellen Francisco', cursive, Helvetica,Arial,sans-serif;
		position:absolute;
		top:-4px;
		left:50px;
		font-size:68px;
	}
	.minus {
		top:-8px;	
	}
	#faq ul li {
		border-bottom: 2px solid #b5b5b5;
	}
	#faq ul a {
		padding: 20px 15px;
		position: relative;
		text-align: center;
		background-color:#FFF;
		color:#F00;
		text-transform:lowercase;
		font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
		font-size:32px;
	}
	#faq ul.accord1, #faq ul.accord2, #faq ul.accord3, #faq ul.accord4 {
		background-color:#f4f4f4;
		padding:48px 48px;
		text-align:center;
		display:none;
	}
	#faq ul.accord1 li, #faq ul.accord2 li, #faq ul.accord3 li, #faq ul.accord4 li {
		border-bottom:0;
	}
	#faq ul li h4 {
		margin-bottom:30px;
		max-width:550px;
		margin-left:auto;
		margin-right:auto;
	}
	#faq ul li p, #faq ul li h4, #faq ul li p a {
		font-family: "AvantGardeGothicITCW01Bk",Helvetica,Arial,sans-serif;
		font-size:24px;
		line-height:1.3;
		background-color:transparent;
		padding:0;
	}
	#faq ul li p {
		max-width:640px;
		margin-left:auto;
		margin-right:auto;
		letter-spacing:1px;
		color:#000;
	}
	#faq ul li p a {
		color:#000;	
	}
	#faq ul.lastfaq {
		margin:0;
	}
	#faq ul.lastfaq li {
		border-bottom: 0;	
	}
}


/** Footer */
footer{

}
footer {
    padding: 0 0 16px;
	width:100%;
	position:fixed;
	bottom:0;
	background-color:#FFF;
	border-top:solid 1px #ff0000;
	z-index:900;
}
footer .social{
	text-align:right;
}
footer span.copyright {
    font-family: Arial,Helvetica,sans-serif;
    font-size:9px;
	color:#777777;
	line-height:12px;
	display:block;
	text-align:center;
}

footer ul.quicklinks {
    margin-bottom: 0;
    font-family: "AvantGardeGothicITCW02Dm",Helvetica,Arial,sans-serif;
    line-height: 40px;
}
ul.social-buttons {
	margin-top:8px;
    margin-bottom: 20px;
}
.list-inline > li{
	padding-left:10px;
	padding-right:0;
}
ul.social-buttons li a {
    display: block;
    width: 25px;
    height: 25px;
   /* border-radius: 100%;
    font-size: 20px;
    line-height: 40px;*/
    outline: 0;
    /*color: #fff;
    background-color: #222;*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
	text-align: center;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    /*background-color: #fed136;*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
ul.social-buttons li a i{
	display: block;
    width: 25px;
    height: 25px;
}
ul.social-buttons li a .fa-facebook{
	background: rgba(0, 0, 0, 0) url("../img/icons/ico-fb.jpg") no-repeat scroll left top;
}
ul.social-buttons li a .fa-twitter{
	background: rgba(0, 0, 0, 0) url("../img/icons/ico-tw.jpg") no-repeat scroll left top;
}
ul.social-buttons li a .fa-instagram{
	background: rgba(0, 0, 0, 0) url("../img/icons/ico-ig.jpg") no-repeat scroll left top;
}
ul.social-buttons li a .fa-pinterest{
	background: rgba(0, 0, 0, 0) url("../img/icons/ico-pt.jpg") no-repeat scroll left top;
}

@media(max-width:700px) {
	.arrow_left {
		background: rgba(0, 0, 0, 0) url("../img/arrow_left_mobile.png") no-repeat scroll 18% bottom;
		padding-left:0;
		max-width:none;
	}
	.arrow_right {
		background: rgba(0, 0, 0, 0) url("../img/arrow_right_mobile.png") no-repeat scroll 82% bottom;
		padding-right:0;
	}
	#enter{
		background-size:100% auto;
	}
}
@media(max-width:767px) {
	footer {
		background-color:#f7f9fa;
		border-top:2px solid #acacac;
		padding:52px 0 130px;
		/*Just for Developement*/
		position:relative;
	}
	.quicknav{
		text-align:center;
		padding-bottom: 48px;
	}
	footer ul.quicklinks {
		display:inline-block;
	}
	footer ul.quicklinks.list-inline > li {
		font-size:25px;
		padding:0 24px;
	}
	footer .social {
		bottom: 0;
    	position: absolute;
    	text-align: center;
    	width: 98%;
		margin:0;
	}
	.list-inline > li {
		padding-right:10px;
	}
	footer span.copyright {
		font-size:20px;
		line-height:1.2;
	}
	ul.social-buttons{
		margin:8px 0 20px;
	}
	ul.social-buttons li a, ul.social-buttons li a i{
		width:66px;
		height:66px;
	}
	ul.social-buttons li a .fa-facebook{
		background: rgba(0, 0, 0, 0) url("../img/icons/ico-fb-mobile.jpg") no-repeat scroll left top;
	}
	ul.social-buttons li a .fa-twitter{
		background: rgba(0, 0, 0, 0) url("../img/icons/ico-tw-mobile.jpg") no-repeat scroll left top;
	}
	ul.social-buttons li a .fa-instagram{
		background: rgba(0, 0, 0, 0) url("../img/icons/ico-ig-mobile.jpg") no-repeat scroll left top;
	}
	ul.social-buttons li a .fa-pinterest{
		background: rgba(0, 0, 0, 0) url("../img/icons/ico-pt-mobile.jpg") no-repeat scroll left top;
	}
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #fed136;
	min-width:640px;
	overflow:auto;
}
.inlineblock {
	display:inline-block;
}

/* Modal Code */
.modal_cont{
	position:fixed;
	width:50%;
	max-width:770px;
	height:80%;
	max-height:400px;
	padding:60px 48px;
	background:#ffffff;	
	top:10%;
	left:0;
	z-index:999999;
	display:none;
	box-sizing:border-box;
}
#decline_success {
	max-height:294px;
}
#fade, #fade2{
	z-index:99999;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#03539b;
	opacity:0.9;	
	display:none;
}
.modal_cont h2{
	font-size:24px;
	margin-bottom:36px;
}
.modal_main{
	background:white;
	height: 77%;
	overflow:auto;
}
.modal_main p{
	line-height:1.5em;
	text-align:left;
	font-size:18px;
	font-weight:400;
	display:block;
	margin-bottom:26px;
}	
.modal_main p a {
	color:#1e54a8;
	text-decoration:underline;
	font-size:18px;
	font-weight:600;
}	
.modal_main .oppname{
	font-weight:700;
}
.modal_main .prvname{
	color:#365794;
}
.close{
	display:block;
	position:absolute;
	top:-22px;
	right:-22px;	
	width:44px;
	height:44px;
	overflow:hidden;
	background-color:#143a69;
	font-size:14px;
	font-weight:700;
	line-height:44px;
	text-align:center;
	color:#fff;
}